- @messages.each do |msg|
  .chat__messages__output
    .chat__messages__output-upper
      %p.name 
        =msg.user.name
      %p.date
        =msg.created_at
    .chat__messages__output-lower
      %p.message 
        =msg.body
        - if msg.image?
          = image_tag msg.image.thumb.url
