.sidebar
  .user__info
    .user__info__name
      %p sample    
    .user__info__icon
      = link_to new_group_path do
        %i.fa.fa-pencil-square-o
      = link_to edit_user_registration_path do
        %i.fa.fa-cog
  .group
    %p.group-name 
      Japan
    %p.group-messages 
      No messages
