$chat-text-color: black !default;
$user-info-icon-color: white;
$edit-btn-color: #38AEF0;
$form-back-color: #d2d2d2;
$form-input-color: #FFF;
$placeholder-color: #434A54;
$btn-send-color: #38AEF0;
$sidebar-back-color: #2f3e51;
$sidebar-text-color: #FFF;
$sidebar-info-color: #253141;
